parameters:
  phpVersion: 80200 # PHP 8.2
  level: 1
  tmpDir: tmp
  paths:
    - lib
  parallel:
    jobSize: 20
    maximumNumberOfProcesses: 32
    minimumNumberOfJobsPerProcess: 2
    processTimeout: 600.0
  reportUnmatchedIgnoredErrors: false
